*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh; 
    color: black;
    background-color: aliceblue;
}

.conteudo{
    height: 100%;
    margin: auto;
    max-width: 1000px;
}

nav{
    display: flex;
    background-color: #C1E1EC;
    width: 100%;
    height: 15%;
}

.nome{
    width: 40%;
    margin-top: 35px;
    margin-left: 50px;
}

.imagem{
    width: 10%;
    margin-left: 0;
}

.menu{
    width: 35%;
    margin-top: 35px;
    margin-left: 110px;
}

.menu li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    font-size: 15px;
    cursor: pointer;
}

header{
    height: 60%;
    width: 100%;
    background-image: url(./imagens/capa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header h1{
    color: black; 
    text-shadow: white 0.1em 0.1em 0.2em;
    text-align: center;
}

section{
    height: 100%;
    background-color: white;
}

.sobre{
    margin: auto;
    text-align: center;
    width: 40%;
    height: 50%;
}

.cardapio{
    width: 100%;
    height: 40%;
}

.formatar-cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.formartar-texto{
    width: 100%;
    height: 5%;
    margin-left: 90%;
}

.formartar-texto a:hover{
    font-size: 15px;
    cursor: pointer;
    color: #82cde6;
}

.imagem-cardapio{
    display: flex;    
    border-radius: 5px;
    padding: 30px;
    margin: 20px;   
    width:30%;
    height: 30%;
    object-fit: contain;
    object-position: center;
}

footer{
    height: 25%;
    width: 100%;
    background-color: #C1E1EC;
}

.logo{
    height: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo a:hover{
    cursor: pointer;
    background-color: #82cde6;
}

.footer-texto{
    height: 10%;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px){
    nav h2,ul{
        display: none;
    }

    .formartar-texto{
        width: 100%;
        height: 5%;
        margin-left: 80%;
    }
}